/* * {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
} */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Poppins:wght@200&family=Roboto:wght@300&display=swap");

* {
  font-family: "Roboto", sans-serif !important;
  user-select: none;
}

.MuiCheckbox-colorSecondary.Mui-checked {
  color: #4ba665 !important;
}
.ms-DetailsList-contentWrapper::-webkit-scrollbar {
  /* width: 4px; */
  width: 12px;
  /* background-color: #03838730; */
}
.ms-DetailsList-contentWrapper::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #e4e4e4;
}
/* .membersProjectName {
  color: green;
  font-size: 22px;
  font-weight: 600;
} */

/* Project Form Designs */
.FormContainer {
  width: 100%;
}
.saveGif {
  height: 250px;
  width: 250px;
}
.gifAlign {
  display: flex;
  align-items: center;
  justify-content: center;
}
.formHeaderFlex {
  display: flex;
  justify-content: space-between;
  /* margin: 10px 20px; */
  margin: 18px 20px;
  align-items: center;
}
.arrowRightFlex {
  display: flex;
  align-items: center;
}
.arrowRightFlex label {
  /* font-size: 20px; */
  font-size: 24px;
  color: #1d1d7c;
  padding: 0;
}
.loginLeftFlex {
  display: flex;
  align-items: center;
}
.loginLeftFlex .nameandEmail {
  margin-right: 20px;
}
.nameandEmail label {
  padding: 0;
}
.formSection {
  display: flex;
  margin: 0px 30px;
}
.formSection .rightSection {
  /* width: 50%;
  margin: 15px 0px; */

  margin-top: 15px;
}
.formSection .rightSection label {
  /* color: #a9f37f; */
  color: #4d9748;
}
.leftSection label {
  color: #4d9748;
  font-size: 16px;
}
.leftSection {
  width: 50%;
}
.leftSection .costs {
  width: 50%;
  display: flex;
  justify-content: space-between;
  margin: 20px 0px;
}
.required {
  color: red;
}

/* Dashboard Design */
.percentageShower {
  position: absolute;
  margin: 0;
  top: 7px;
  right: 0;
  font-size: 12px;
}
.deleteBtn {
  padding: 10px 20px;
  margin-left: 10px;
  color: #fff;
  background-color: #fa3c3c;
  border: 1px solid #fa3c3c;
  font-weight: 600;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}
.deleteBtn:hover {
  background-color: #ed1c1c;
}
.cancelBtn {
  padding: 10px 20px;
  margin-left: 10px;
  color: #000;
  background-color: #fff;
  border: 1px solid #fa3c3c;
  font-weight: 600;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}
.cancelBtn:focus {
  border: 1px solid #fa3c3c;
}
.cancelBtn:hover {
  background-color: #cbcbcb;
}
.designPersonLabel {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 70%;
}
.modalDescription {
  max-height: 50px;
  overflow: auto;
  color: #262626;
}
.singlePersona {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
  width: 9%;
}
.modalDescription::-webkit-scrollbar {
  width: 12px;
}
.modalDescription::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #e4e4e4;
}
.addBtnStyle {
  background: rgb(169, 243, 127);
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  width: 50%;
  /* width: 60%; */
  border-radius: 50px;
  cursor: pointer;
  height: 40px;
}
.addBtnStyle label {
  cursor: pointer;
  color: rgb(0, 0, 0);
}
.rightNavbarContainer {
  border: 1px solid rgba(223, 223, 223, 0.4);
  display: flex;
  justify-content: space-between;
  width: 85%;
  align-items: center;
  height: 40px;
  padding: 4px;
}
.rightNavbarContainer .filterSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.listview {
  cursor: pointer;
  color: #000;
}
.detailListSection {
  margin: 10px 20px;
  display: flex;
  justify-content: end;
  gap: 2%;
}
.detailListSection .ddFilterWidth {
  width: 25%;
}
.ddFilterFlex {
  display: flex;
  align-items: center;
}
.ddFilterFlex p {
  margin: 0;
  width: 36%;
  font-weight: 600;
}
.projectcardSection {
  display: flex;
  /* gap: 4%; */
  flex-wrap: wrap;
  margin: 10px 0px;
  /* height: 500px; */
  background: #fff;
  width: 100%;
}
.projectcardSection .cardDesign {
  border: 1px solid rgb(223, 223, 223);
  border-radius: 5px;
  padding: 10px 17px;
  margin: 8px;
  /* display: flex; */
  /* height: 228px; */
  height: 296px;
  width: 29%;
  position: relative;
}
.cardSize {
  width: 70%;
}
.spaceSection {
  margin: 15px 0px;
}
.spaceSection label {
  padding: 0;
}
.cardDesign .navHeader {
  justify-content: space-between;
  display: flex;
  align-items: center;
  margin: 10px 0px;
}
.cardDesign .navHeader label {
  padding: 0;
}
.menuIconPlacement {
  width: 26%;
  height: 102px;
  position: absolute;
  background: rgb(255, 255, 255);
  right: 32px;
  top: 56px;
  border-radius: 5px;
  box-shadow: rgb(199, 199, 199) 0px 0px 10px 2px;
  /* padding: 10px 6px; */
  padding: 9px 6px 16px 6px;
  z-index: 10;
}
.menus {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  cursor: pointer;
  padding: 3px 11px;
  border-radius: 5px;
}
.menus:hover {
  /* background-color: rgb(226, 255, 209); */
  background-color: #d1e8ff;
}
.menus svg {
  color: #6f6f6f;
}
.scrollContainer {
  height: 80vh;
  overflow: auto;
}
.scrollContainer::-webkit-scrollbar {
  width: 12px;
}
.scrollContainer::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #e4e4e4;
}
.modalContainer {
  display: flex;
  justify-content: space-between;
  /* width: 64vw; */
  margin: 10px 20px;
}
.modalHeaderFlex {
  display: flex;
  justify-content: space-between;
  margin: 10px 20px;
}
.modalHeadRightFlex {
  margin-right: 20px;
}
.modalHeadStatusIndicator {
  /* margin-right: 20px; */
  background: #4ba665;
  color: #fff;
  font-weight: 500;
  border-radius: 18px;
  padding: 6px 40px;
}
.textFlex {
  align-items: center;
  display: flex;
  justify-self: space-between;
  margin-right: 7px;
}
.modalProjectDescrip {
  margin: 10px 20px 0px;
  /* padding-bottom: 10px; */
  border-bottom: 2px solid #dee1e6;
}
.ProjectDescripLabel {
  font-size: 16px;
  color: #4d9748;
  font-weight: 600;
}
.userIcon {
  width: 6%;
  margin-right: 8px;
}
.userRole {
  width: 14%;
}
.personWidth {
  display: flex;
  flex-wrap: wrap;
  grid-area: 10px;
  width: 80%;
}
.projectCost {
  width: 15%;
  font-size: 16px;
  color: #4ba665;
  font-weight: 600;
}
.projectCostValue {
  /* width: 35%; */
  width: 10%;
}
.projectCostValue2 {
  width: 20%;
}

/* Members Page Styles */
.membersRightSection {
  width: 50%;
  height: 99vh;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 8px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  right: 0px;
  top: 0px;
  padding: 0px 10px;
}
.membersFlex {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  width: 90%;
  max-height: 15vh;
  overflow: auto;
}
.membersFlex::-webkit-scrollbar {
  width: 12px;
}
.membersFlex::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #e4e4e4;
}
.profileDetails {
  padding: 20px;
  display: flex;
  align-items: center;
  color: #3c3b3b;
  border-bottom: 2px solid #dee1e6;
}
.profileLeft {
  width: 15%;
}
.profileRight {
  width: 85%;
  margin: 0px 25px;
  display: flex;
  align-items: center;
}
.rightDiv {
  width: 40%;
}
.allocationBox {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.profileLabel {
  font-size: 17px;
  width: 60%;
  /* margin: 5px 0px 10px 0px; */
  /* margin-top: 10px; */
}
.colan {
  margin-right: 10px;
}
.viewAllBtn {
  cursor: pointer;
  color: #4ba665;
}
.roleStyle {
  font-size: 20px;
}

.projectsFlex {
  display: flex;
  align-items: center;
  margin: 8px 0px;
}
.totalProjectsLabel {
  font-size: 20px;
  color: #4ba665;
  width: 50%;
}
.totalsLabel {
  width: 50px;
  border: 1px solid;
  text-align: center;
  padding: 6px;
  border-radius: 6px;
}
.singleProjectsBox {
  /* border: 1px solid #6f6f6f; */
  border-radius: 10px;
  border: 1px solid #6f6f6f;
  padding: 10px;
  margin: 10px 0px;
}
.singleProjects {
  display: flex;
  align-items: center;
}
.singleProjects p {
  margin: 0;
  font-size: 14px;
  font-weight: 600;
  width: 40%;
  color: rgb(97, 97, 97);
}
.singleProjects span {
  width: 10px;
}
.projectDetailsHeader {
  padding: 8px 6px;
  font-size: 20px;
  color: #4ba665;
  margin: 15px 0px;
}
.projectScroll {
  /* height: 45vh; */
  height: 54vh;
  overflow: auto;
  padding: 0px 20px;
}
.projectScroll::-webkit-scrollbar {
  width: 12px;
}
.projectScroll::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #e4e4e4;
}

/* side nav Styles */
.logoSection {
  display: flex;
  margin: 30px;
}
/* .logoSection label {
  font-size: 20px;
  color: #000;
  margin-left: 10px;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif !important;
} */
.activeTab {
  display: flex;
  padding: 10px 30px;
  margin-bottom: 16px;
  cursor: pointer;
}
.activeTab label {
  margin-left: 10px;
  cursor: pointer;
}
.activeTab svg {
  color: #6f6f6f;
}

.activeTab:hover {
  color: #000;
}

.activeTab:hover label {
  color: #000;
}

.activeTab:hover svg {
  color: #000;
}
